@import "demo-theme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in demo-theme.scss

.demo-theme {
  @include addons;
  @include demo-theme;
}
